    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main minh-100vh" id="top">


      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale-pulse-out-rapid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <!-- ============================================-->
      <!-- End of Preloader ===========================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0" id="page-contact">

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 bg-white pt-8 pb-4 pt-lg-8">
              <div class="row h-100 align-items-center justify-content-center">
                <div class="col-lg-8" data-zanim-lg='{"animation":"slide-left","delay":0.6}' data-zanim-trigger="scroll">
                  <h1 class="text-underline d-inline-block mb-4 mb-lg-6">contact</h1>
                  <p class="font-weight-bold mb-0">Name:<span class="ml-2 font-weight-normal">Jordyn Oriole | Wedding Planner</span></p>
                  <p class="font-weight-bold mb-0">Phone:<span class="ml-2 font-weight-normal"><a class="text-700" href="tel:+1 603 401 9199">++1 603 401 9199</a></span></p>
                  <p class="font-weight-bold mb-4">E-mail:<span class="ml-2 font-weight-normal font-italic"><a class="text-700" href="mailto:jordyn.oriole@simplyseamlessevents.com">jordyn.oriole@simplyseamlessevents.com</a></span></p>
                  <div class="mt-3">
                    <a class="btn btn-dark btn-sm mr-2" href="#"><span class="fab fa-twitter" data-fa-transform="grow-6"></span></a>
                    <a class="btn btn-dark btn-sm mr-2" href="#"><span class="fab fa-facebook-f" data-fa-transform="grow-6"></span></a>
                    <a class="btn btn-dark btn-sm mr-2" href="#"><span class="fab fa-google-plus-g" data-fa-transform="grow-6"></span></a>
                    <a class="btn btn-dark btn-sm" href="#"><span class="fab fa-linkedin-in" data-fa-transform="grow-6"></span></a>
                  </div>
                  <h3 class="mt-7">Give us a shout</h3>
                  <form class="zform mt-4" method="POST">
                    <input class="form-control border-300" type="hidden" name="to" value="username@domain.extension">
                    <input class="form-control border-300 mt-3" type="text" placeholder="Your Name" aria-label="Text input with dropdown button">
                    <input class="form-control border-300 mt-3" type="text" placeholder="Phone Number" aria-label="Text input with dropdown button">
                    <textarea class="form-control border-300 mt-3" rows="11" placeholder="Your Message" required></textarea>
                    <button class="btn btn-block btn-dark mt-4" type="submit">Send<span class="fa fa-paper-plane ml-1"></span></button>
                    <div class="zform-feedback mt-4"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-6 px-0">
              <div class="sticky-top ovrflow-hidden-y">
                <div class="googlemap minh-100vh d-none d-lg-block" data-latlng="48.8588723,2.2932638" data-pov='{"heading":120,"pitch":0}' data-scrollwheel="false" data-icon="assets/images/map-marker.png" data-zoom="1" data-theme="streetview" data-zanim-lg='{"animation":"zoom-out-slide-left","delay":0.4}'
                  data-zanim-trigger="scroll"></div>
                <!--Mobile Fallback-->
                <div class="googlemap minh-50vh d-lg-none" data-latlng="48.8588723,2.2932638" data-pov='{"heading":75,"pitch":0}' data-scrollwheel="false" data-icon="assets/img/map-marker.png" data-zoom="17" data-theme="Default">
                  <div class="marker-content py-3">
                    <h5>Eiffel Tower</h5>
                    <p>Gustave Eiffel's iconic, wrought-iron 1889 tower,
                      <br> with steps and elevators to observation decks.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

  
