    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main minh-100vh" id="top">


      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale-pulse-out-rapid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <!-- ============================================-->
      <!-- End of Preloader ===========================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-lg-7" id="page-portfolio">

        <div class="container">
          <div class="row mb-5 mb-lg-7">
            <div class="col-lg-6">
              <h1 class="text-underline d-inline fs-4 fs-md-5">gallery</h1>
              <p class="mt-3">Moments are fleeting, time passes quickly before your eyes. Before you even know it, everything is over in an instant and all you have are glimpses of fond memories. Allow us to help you create memories that will last a lifetime.</p>
            </div>
          </div>
          <div class="sortable minh-100vh" data-options='{"layoutMode":"packery"}'>
            <div class="menu mb-2">
              <div class="item active" data-filter="*">all</div>
              <div class="item" data-filter=".photography">bride</div>
              <div class="item" data-filter=".studio">groom</div>
              <div class="item" data-filter=".interior">ceremony</div>
              <div class="item" data-filter=".illustration">wedding</div>
            </div>
            <div class="row no-gutters sortable-container sortable-container-gutter-fix">
              <!-- <div class="col-6 col-md-3 sortable-item p-2 interior">
                <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in"}' data-zanim-trigger="scroll">
                  <img class="w-100" src="assets/img/jstorms1.jpg" alt="" />
                  <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                    <div class="px-4">
                      <h5 class="text-white">Next gen web interface design</h5>
                      <a class="btn btn-outline-light btn-xs mt-3" href="page-casestudy.html">learn more</a>
                    </div>
                  </div>
                </div>
              </div> -->
              <a class="col-6 col-md-3 sortable-item p-2 studio" href="assets/img/jstormv2.jpg" data-lightbox="image" data-title="my caption">
                <img class="rounded w-100 fit-cover" src="assets/img/jstormv2.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.4}' data-zanim-trigger="scroll" />
              </a>
              <a class="col-6 col-md-3 sortable-item p-2 photography" href="assets/img/jstorms1.jpg" data-lightbox="image" data-title="my caption">
                <img class="rounded w-100 fit-cover" src="assets/img/jstorms1.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' data-zanim-trigger="scroll" />
              </a>
              <a class="col-6 col-md-3 sortable-item p-2 photography" href="assets/img/jstormh1.jpg" data-lightbox="image" data-title="my caption">
                <img class="rounded w-100 fit-cover" src="assets/img/jstormh1.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.7}' data-zanim-trigger="scroll" />
              </a>
              
<!--               <div class="col-6 col-md-3 sortable-item p-2 interior">
                <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}' data-zanim-trigger="scroll">
                  <img class="w-100 fit-cover" src="assets/img/gallery/05.jpg" alt="" />
                  <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                    <div class="px-4">
                      <h5 class="text-white">Next gen web interface design</h5>
                      <a class="btn btn-outline-light btn-xs mt-3" href="page-casestudy.html">learn more</a>
                    </div>
                  </div>
                </div>
              </div> -->
              <a class="col-6 col-md-3 sortable-item p-2 studio illustration" href="assets/img/gallery/06-f.jpg" data-lightbox="image" data-title="my caption">
                <img class="rounded w-100 fit-cover" src="assets/img/gallery/06.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.3}' data-zanim-trigger="scroll" />
              </a>
              <a class="col-6 col-md-3 sortable-item p-2 photography" href="assets/img/gallery/10-f.jpg" data-lightbox="image" data-title="my caption">
                <img class="rounded w-100 fit-cover" src="assets/img/gallery/10.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.5}' data-zanim-trigger="scroll" />
              </a>
              <div class="col-6 col-md-3 sortable-item p-2 illustration">
                <div class="position-relative">
                  <img class="rounded w-100 fit-cover" src="assets/img/gallery/01.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.6}' data-zanim-trigger="scroll" />
                  <a class="video-modal d-flex align-items-end justify-content-end h-100 pb-3 pr-3 position-absolute b-0 r-0" href="https://www.youtube.com/watch?v=HbAzApdYtdw" data-start="01" data-end="64">
                    <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 274.19 274.19" data-zanim-svg='{"duration":2,"ease":"CubicBezier","trigger":"scroll"}'>
                      <defs>
                        <style>
                          .play-path {
                            fill: none;
                            stroke: #ffffff;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            stroke-width: 12px;
                          }
                        </style>
                      </defs>
                      <g>
                        <path class="play-path" d="M208.31,29.4A129.12,129.12,0,1,1,137.1,8m-1.48,170.53L199.94,137,104.07,79.46v113"></path>
                      </g>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="col-12 col-sm-6 sortable-item p-2 illustration">
                <div class="embed-responsive embed-responsive-4by3">
                  <div class="owl-carousel owl-theme owl-dots-inner owl-theme-white embed-responsive-item" data-options='{"items":1,"autoplay":true,"loop":true,"animateOut":"fadeOut","nav":true}' data-zanim-xs='{"animation":"zoom-in","delay":0.8}' data-zanim-trigger="scroll">
                    <img class="w-100 fit-cover rounded" src="assets/img/gallery/11.jpg" alt="" />
                    <img class="w-100 fit-cover rounded" src="assets/img/gallery/12.jpg" alt="" />
                  </div>
                </div>
              </div>
              <a class="col-6 col-md-3 sortable-item p-2 interior" href="assets/img/gallery/02-f.jpg" data-lightbox="image" data-title="my caption">
                <img class="rounded w-100 fit-cover" src="assets/img/gallery/02.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.3}' data-zanim-trigger="scroll" />
              </a>
              <a class="col-6 col-md-3 sortable-item p-2 photography" href="page-casestudy.html">
                <img class="rounded w-100 fit-cover" src="assets/img/gallery/08.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.4}' data-zanim-trigger="scroll" />
              </a>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

  