<!-- HOME -->
  <section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-50" data-background="assets/images/Floral_Deco_04.jpg">

    <div class="hs-caption container">
      <div class="caption-content">
        <div class="hs-title-size-3 font-alt m-b-20">
          Gallery
        </div>
        <div class="hs-title-size-1 font-inc">
          Moments are fleeting, time passes quickly before your eyes, and <br> before you know it, everything is over in an instant and all you have <br> are glimpses of fond memories. Allow us to help you create memories <br> that will last a lifetime.
        </div>
      </div>
    </div>

  </section >
  <!-- /HOME -->

<!-- WRAPPER -->
  <div class="wrapper">

    <!-- PORTFOLIO DESCRIPTION -->
    <section class="module-small">

      <div class="container">

        <div class="row">

          <div class="col-sm-6">

            <div class="work-details">
              <h3 class="work-details-title font-alt">Description</h3>
              <ul>
                <li class="font-inc"><strong>Client: </strong>Jenny & Ashton</li>
                <li class="font-inc"><strong>Date: </strong>20 August, 2016</li>
                <li class="font-inc"><strong>Location: </strong>Bali, Indonesia</li>
              </ul>
            </div>

          </div>

          <div class="col-sm-6">
            <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
            <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
          </div>

        </div>

      </div>

    </section>

    <!-- /PORTFOLIO DESCRIPTION -->

    <!-- PORTFOLIO CONTENT -->
    <section class="module p-t-0 p-b-0">

      <!-- PORTFOLIO LIST -->
      <ul id="works-grid" class="works-grid works-grid-masonry works-grid-2 works-hover-w">


        <!-- PORTFOLIO ITEM -->
        <li class="work-item">
          <a href="assets/images/jstorm7.jpg" class="popup" title="Work 3">
            <div class="work-image">
              <img src="assets/images/jstorm7.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">
                <span class="icon-magnifying-glass"></span>
              </h3>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->
        <!-- PORTFOLIO ITEM -->
        <li class="work-item">
          <a href="assets/images/jstorm6.jpg" class="popup" title="Work 2">
            <div class="work-image">
              <img src="assets/images/jstorm6.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">
                <span class="icon-magnifying-glass"></span>
              </h3>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

        <!-- PORTFOLIO ITEM -->
        <li class="work-item">
          <a href="assets/images/jstorm3.jpg" class="popup" title="Work 1">
            <div class="work-image">
              <img src="assets/images/jstorm3.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">
                <span class="icon-magnifying-glass"></span>
              </h3>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

        <!-- PORTFOLIO ITEM -->
        <li class="work-item">
          <a href="assets/images/jstorm5.jpg" class="popup" title="Work 4">
            <div class="work-image">
              <img src="assets/images/jstorm5.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">
                <span class="icon-magnifying-glass"></span>
              </h3>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

        <!-- PORTFOLIO ITEM -->
        <li class="work-item">
          <a href="assets/images/jstorm9.jpg" class="popup" title="Work 4">
            <div class="work-image">
              <img src="assets/images/jstorm9.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">
                <span class="icon-magnifying-glass"></span>
              </h3>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

        <!-- PORTFOLIO ITEM -->
        <li class="work-item">
          <a href="assets/images/jstorm12.jpg" class="popup" title="Work 4">
            <div class="work-image">
              <img src="assets/images/jstorm12.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">
                <span class="icon-magnifying-glass"></span>
              </h3>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

        <!-- PORTFOLIO ITEM -->
        <li class="work-item">
          <a href="assets/images/jstorm10.jpg" class="popup" title="Work 4">
            <div class="work-image">
              <img src="assets/images/jstorm10.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">
                <span class="icon-magnifying-glass"></span>
              </h3>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

        <!-- PORTFOLIO ITEM -->
        <li class="work-item">
          <a href="assets/images/jstorm2.jpg" class="popup" title="Work 4">
            <div class="work-image">
              <img src="assets/images/jstorm2.jpg" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt">
                <span class="icon-magnifying-glass"></span>
              </h3>
            </div>
          </a>
        </li>
        <!-- /PORTFOLIO ITEM -->

      </ul>

    </section>
    <!-- /PORTFOLIO CONTENT -->

    <!-- PAGINATION -->
    <section class="module-small">

      <div class="container">
      
        <div class="pagination font-inc text-uppercase">
      
          <a href="#"><i class="fa fa-angle-left"></i> Prev</a>
          <a href="#">Next <i class="fa fa-angle-right"></i></a>
      
        </div>
      
      </div>

    </section>
    <!-- /PAGINATION -->

    </div>
    <!-- WRAPPER -->
 
    <!-- DIVIDER -->
    <hr class="divider-w">
    <!-- /DIVIDER -->