<!-- HOME -->
  <section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-50" data-background="assets/images/Floral_Deco_03.jpg">

    <div class="hs-caption container">
      <div class="caption-content">
        <div class="hs-title-size-3 font-alt m-b-20">
          Contact Us
        </div>
        <div class="hs-title-size-1 font-inc">
          Moments are fleeting, time passes quickly before your eyes <br> and landscapes are constantly changing. <br> We want to help you create and hold on to memoires of a lifetime!
        </div>
      </div>
    </div>

  </section >
  <!-- /HOME -->


<!-- WRAPPER -->
  <div class="wrapper">

    <!-- CONTACT -->
    <section class="module">

      <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <h2 class="module-title align-center font-alt">Get in touch</h2>

            <div class="module-subtitle align-center font-inc">
              If you have no idea where to begin or even if you just have a few questions, please, don't hesitate to leave us a message or give us a ring. We'd love to hear from you! 
            </div>

          </div>

        </div>
        <!-- /MODULE TITLE -->

        <!-- CONTACT FORM -->
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <form id="contact-form" role="form" novalidate="">

              <div class="form-group">
                <label class="sr-only" for="cname">Name</label>
                <input type="text" id="cname" class="form-control" name="cname" placeholder="Name" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                <p class="help-block text-danger"></p>
              </div>

              <div class="form-group">
                <label class="sr-only" for="cemail">Your Email</label>
                <input type="email" id="cemail" name="cemail" class="form-control" placeholder="Your E-mail" required="" data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>

              <div class="form-group">
                <textarea class="form-control" id="cmessage" name="cmessage" rows="7" placeholder="Message" required="" data-validation-required-message="Please enter your message."></textarea>
                <p class="help-block text-danger"></p>
              </div>

              <button type="submit" class="btn btn-round btn-g">Submit</button>

            </form>

            <!-- Ajax response -->
            <div id="contact-response" class="ajax-response font-alt"></div>

          </div>

        </div>
        <!-- /CONTACT FORM -->

      </div>

    </section>
    <!-- /CONTACT -->

    <!-- DIVIDER -->
    <hr class="divider-w">
    <!-- /DIVIDER -->

  </div>
  <!-- WRAPPER -->