  <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main minh-100vh" id="top">


      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale-pulse-out-rapid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <!-- ============================================-->
      <!-- End of Preloader ===========================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0" id="page-services">

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 px-0 order-lg-2">
              <div class="sticky-top h-lg-100vh py-9">
                <div class="bg-holder" style="background-image:url(assets/img/headers/header-48.jpg);" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-left","delay":0.4}'>
                </div>
                <!--/.bg-holder-->

              </div>
            </div>
            <div class="col-lg-6 bg-white py-6">
              <div class="row h-100 align-items-center justify-content-center">
                <div class="col-sm-11 col-md-8 col-lg-11 col-xl-9 px-xl-5">
                  <div class="mb-5 mb-lg-7 oveflow-hidden">
                    <h1 class="text-underline fs-4 fs-md-5" data-zanim-xs='{"delay":0}' data-zanim-trigger="scroll">we do.</h1>
                  </div>
                  <div class="media mb-5 card-service" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="oveflow-hidden">
                      <img class="mr-3 mr-sm-4" src="assets/img/icons/icon-target.svg" alt="" width="50" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
                    </div>
                    <div class="media-body">
                      <div class="overflow-hidden">
                        <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>Master Planner</h4>
                      </div>
                      <div class="overflow-hidden">
                        <p class="mb-0" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Responsible for planning, scheduling, coordinating, and monitoring your event through the complete cycle.</p>
                      </div>
                    </div>
                  </div>
                  <div class="media mb-5 card-service" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="oveflow-hidden">
                      <img class="mr-3 mr-sm-4" src="assets/img/icons/icon-line-chart.svg" alt="" width="50" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
                    </div>
                    <div class="media-body">
                      <div class="overflow-hidden">
                        <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>Budget Organizer</h4>
                      </div>
                      <div class="overflow-hidden">
                        <p class="mb-0" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>We make it easier to track spending, identify areas where spending might be cut back and allocate funds to cover specific transactions, expenses and wedding bugetary needs.</p>
                      </div>
                    </div>
                  </div>
                  <div class="media mb-5 card-service" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="oveflow-hidden">
                      <img class="mr-3 mr-sm-4" src="assets/img/icons/icon-coding.svg" alt="" width="50" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
                    </div>
                    <div class="media-body">
                      <div class="overflow-hidden">
                        <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>Designer & Decorator</h4>
                      </div>
                      <div class="overflow-hidden">
                        <p class="mb-0" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Expect a less stressful discussion of building centerpieces, creating floral arrangements, lighting set-up, and planning all aspects of your event's decor!</p>
                      </div>
                    </div>
                  </div>
                  <div data-zanim-xs='{"delay":0.8}' data-zanim-trigger="scroll">
                    <a class="btn btn-outline-dark mt-4" href="/contact">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
 